.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: rgb(206, 255, 196);
  
}
.App h1 {
  color: #333; 
  font-size: 2rem; 
  margin-bottom: 20px; 
}

.validacion-contraseña{
  font-size: 12px;
  color: #6bd6f9; 
}

.copiar-contraseña button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.copiar-contraseña button:hover {
  background-color: #45a049;
}

.mensaje-copiado {
  color: green;
  font-size: 14px;
  margin-top: 10px;
}

  



