.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: rgb(255, 255, 255);
  
}
.App h1 {
  color: #333; 
  font-size: 40px; 
  margin-bottom: 20px; 
}


.copiar-contraseña button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.copiar-contraseña button:hover {
  background-color: #45a049;
}

.mensaje-copiado {
  color: green;
  font-size: 14px;
  margin-top: 10px;
}


.validacion-contraseña p {
  font-size: 12px;
  margin-top: 14px;
  color:black; 
}


